<div class="container-fluid bg-light contact-us">
    <h1>Contact us</h1>
    <hr/>
    <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="fisrt-div">
            <h5>Questions or Comments?</h5>
            <p>We know that our clients have unique needs and circumstances. Tell us more about your project, 
                and we will get back to you soon with some ideas of how we can address those circumstances while
                creating the most stable software possible.</p>
          </div>
          <div class="second-div">
            <h5>Reckon Techno Automation</h5>
            <p>Seocnd FLoor Bhat Complex New Court Road Bonapora Batamaloo Srinagar, Kashmir</p>
            <p><i class="fa fa-phone"></i>Phone No. 8491940604,<br>           
                <i class="fa fa-envelope-o"> </i>info@reckontechno.com<br> 
                <i class="fa fa-envelope-o"> </i>jkreckon@gmail.com</p>
          </div>
        </div>
    </div>
</div>
<div #mapContainer id="map"></div>

