<div class="container-fluid ftr-bottom">
  <div class="row text-section2">
    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
      <p class="heading">About Reckon Techno Automation</p>
      <p class="normal">Reckon Techno Automation is a solution provider for the application based software 
        founded by an executive team of industry veterans that bring broad experience in technology...</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
      <p class="heading">Address</p>
      <address class="normal">Seocnd FLoor Bhat Complex New Court Road Bonapora Batamaloo Srinagar, Kashmir
        
      </address>
      <p class="normal"><i class="fa fa-phone"></i>Phone No. 8491940604</p>
      <p class="normal"><i class="fa fa-envelope-o"></i>info@reckontechno.com,</p>
      <p class="normal">jkreckon@gmail.com</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 social-icons">
      <a href="#"><p class="heading">Quick Contact</p></a>
      <a href="#"><p>Gallery</p></a>
      <a href="#"><p>Career</p></a>
      <a href="#"><p>Contact Us</p></a>
      <a href="#" class="icons" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="#" class="icons" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="#" class="icons" target="_blank"><i class="fa fa-facebook"></i></a>
    </div>
  </div>
</div>
<div class="container-fluid ftr-bottom">
  <div class="row cpyryt">
      <div class="col-lg-12 col-md-12">   
        <p>Copyright © 2021 Reckon Techno Automation. All Rights Reserved.</p>
         <p>Privacy Policy | Terms of Use</p>
      </div>
  </div>
</div>
