<!--fifth section-->
<div class="container fifth-section">
  <div class="row trending_row">
    <h2 style="margin-left: auto; margin-right: auto;">Our Clients</h2>
    <div id="clients_slider" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#clients_slider" data-slide-to="0" class="active"></li>
          <li data-target="#clients_slider" data-slide-to="1"></li>
        </ul>
      <div class="carousel-inner padding-0" role="listbox">
      <!--First slide-->
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-3 col-sm-3">
            <div class="wrapper">
              <img class="img-fluid" src="https://dummyimage.com/400x250/000/fff"
                   alt="client logo">
              <p>De Param Healthcare</p>
            </div>
          </div>
          <div class="col-md- col-sm-3">
            <div class="wrapper">
              <img class="img-fluid" src="https://dummyimage.com/400x250/000/fff"
                   alt="client logo">
              <p>Kothilal Dental College</p>  
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="wrapper">
              <img class="img-fluid" src="https://dummyimage.com/400x250/000/fff"
                   alt="client logo">           
              <p>Surya Hospital</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="wrapper">
              <img class="img-fluid" src="https://dummyimage.com/400x250/000/fff"
                   alt="client logo">
              <p>Shakun Sales Pvt. Ltd.</p>
            </div>
          </div>
        </div>
      </div>
      <!--First slide-->
      <!--Second slide-->
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-3 col-sm-3">
            <div class="wrapper">
              <img class="img-fluid" src="https://dummyimage.com/400x250/000/fff"
                   alt="client logo">
                <p>K.G.M.University</p>            
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="wrapper">
              <img class="img-fluid" src="https://dummyimage.com/400x250/000/fff"
                   alt="client logo">
                <p>LINNET Hospicare Pvt. Ltd</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="wrapper">
              <img class="img-fluid" src="https://dummyimage.com/400x250/000/fff"
                   alt="client logo">
                <p>Natel Neutratec</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="wrapper">
              <img class="img-fluid" src="https://dummyimage.com/400x250/000/fff"
                   alt="client logo">
                <p class="card-text">Nansom Health Care</p>       
            </div>
          </div> 
        </div>
      </div>
      <!--Second slide-->
      </div>
    </div>
  </div>
</div>
