<!--fifth section-->
<div class="container fifth-section">
    <div class="row">
      <h2 style="margin-left: auto; margin-right: auto;">Our Clients</h2>
      <div class="trending_slider d-none d-sm-block">
        <div><a href="#" target="_blank">
        <img src="https://dummyimage.com/150x150/000/fff"
        alt="image" class="img-fluid">  
        </a></div>
        <div><a href="#" target="_blank">
        <img src="https://dummyimage.com/150x150/000/fff"
        alt="image" class="img-fluid">  
        </a></div>
        <div><a href="#" target="_blank">
        <img src="https://dummyimage.com/150x150/000/fff"
        alt="image" class="img-fluid">  
        </a></div>
        <div><a href="#" target="_blank">
        <img src="https://dummyimage.com/150x150/000/fff"
        alt="image" class="img-fluid">  
        </a></div>
        <div><a href="#" target="_blank">
        <img src="https://dummyimage.com/150x150/000/fff"
        alt="image" class="img-fluid">  
        </a></div>
        <div><a href="#" target="_blank">
        <img src="https://dummyimage.com/150x150/000/fff"
        alt="image" class="img-fluid">  
        </a></div>
      </div>
      <!--mobile view-->
      <div class="trending_slider_mobile d-sm-none">
        <div><a href="#" target="_blank">
        <img src="https://dummyimage.com/250x300/000/fff"
        alt="image" class="img-fluid">  
        </a></div>
        <div><a href="#" target="_blank">
        <img src="https://dummyimage.com/250x300/000/fff"
        alt="image" class="img-fluid">  
        </a></div>
        <div><a href="#" target="_blank">
        <img src="https://dummyimage.com/250x300/000/fff"
        alt="image" class="img-fluid">  
        </a></div>
        <div><a href="#" target="_blank">
        <img src="https://dummyimage.com/250x300/000/fff"
        alt="image" class="img-fluid">  
        </a></div>
        <div><a href="#" target="_blank">
        <img src="https://dummyimage.com/250x300/000/fff"
        alt="image" class="img-fluid">  
        </a></div>
        <div><a href="#" target="_blank">
        <img src="https://dummyimage.com/250x300/000/fff"
        alt="image" class="img-fluid">  
        </a></div>
      </div>
    </div>
  </div>
