<!--fifth section-->
<div class="container fifth-section">
  <div class="row trending_row">
    <h2 style="margin-left: auto; margin-right: auto;">Our Clients</h2>
    <!--<div id="clients_slider" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#clients_slider" data-slide-to="0" class="active"></li>
          <li data-target="#clients_slider" data-slide-to="1"></li>
        </ul>
      <div class="carousel-inner padding-0" role="listbox">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-3 col-sm-3"  *ngFor="let client of clients">
            <div class="wrapper">
              <img class="img-fluid"  [src] ="client.ImagePath"
                   alt="{{client.ClientName}}">
              <p>{{client.ClientName}}</p>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>-->
  <ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig" 
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <a href="{{ slide.path }}"><img src="{{ slide.img }}" alt="" width="100%"></a>
          <p>{{ slide.name }}</p>
        </div>
        <!--<span class="slick-prev slick-arrow" aria-label="Previous" type="button"></span>
        <span class="slick-next slick-arrow" aria-label="Next" type="button"></span>-->
  </ngx-slick-carousel>
 </div>
</div>
