<div class="container-fluid ftr-bottom">
  <div class="row text-section2">
    <div class="col-lg-2 col-md-2 col-sm-6 col-6">
      <a href="#"><p class="heading">Company</p></a>
      <a href="#"><p class="normal"><i class="fa fa-hand-o-right"></i>Lorem ipsum</p></a>
      <a href="#"><p class="normal"><i class="fa fa-hand-o-right"></i>Lorem ipsum</p></a>
      <a href="#"><p class="normal"><i class="fa fa-hand-o-right"></i>Lorem ipsum</p></a>
      <a href="#"><p class="normal"><i class="fa fa-hand-o-right"></i>Lorem ipsum</p></a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-6">
      <a href="#"><p class="heading">Products</p></a>
      <a href="#"><p class="normal"><i class="fa fa-hand-o-right"></i>Lorem ipsum</p></a>
      <a href="#"><p class="normal"><i class="fa fa-hand-o-right"></i>Lorem ipsum</p></a>
      <a href="#"><p class="normal"><i class="fa fa-hand-o-right"></i>Lorem ipsum</p></a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-6">
      <a href="#"><p class="heading">Partners</p></a>
      <a href="#"><p class="normal"><i class="fa fa-hand-o-right"></i>Lorem ipsum</p></a>
      <a href="#"><p class="normal"><i class="fa fa-hand-o-right"></i>Lorem ipsum</p></a>
      <a href="#"><p class="normal"><i class="fa fa-hand-o-right"></i>Lorem ipsum</p></a>
      <a href="#"><p class="normal"><i class="fa fa-hand-o-right"></i>Lorem ipsum</p></a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-6">
      <a href="#"><p class="heading">Resources</p></a>
      <a href="#"><p class="normal"><i class="fa fa-hand-o-right"></i>Lorem ipsum</p></a>
      <a href="#"><p class="normal"><i class="fa fa-hand-o-right"></i>Lorem ipsum</p></a>
      <a href="#"><p class="normal"><i class="fa fa-hand-o-right"></i>Lorem ipsum</p></a>
      <a href="#"><p class="normal"><i class="fa fa-hand-o-right"></i>Lorem ipsum</p></a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-6">
      <a href="#"><p class="heading">Support</p></a>
      <a href="#"><p class="normal"><i class="fa fa-hand-o-right"></i>Lorem ipsum</p></a>
      <a href="#"><p class="normal"><i class="fa fa-hand-o-right"></i>Lorem ipsum</p></a>
      <a href="#"><p class="normal"><i class="fa fa-hand-o-right"></i>Lorem ipsum</p></a>
      <a href="#"><p class="normal"><i class="fa fa-hand-o-right"></i>Lorem ipsum</p></a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-6 social-icons">
      <a href="#"><p class="heading">Contact with us</p></a>
      <a href="#"><img src="assets\images\fb.png" alt="fb"></a>
      <a href="#"><img src="assets\images\twitter.png" alt="twitter"></a>
      <a href="#"><img src="assets\images\linkedIn.png" alt="linkedin"></a>
      <a href="#"><img src="assets\images\youtube.png" alt="youtube"></a>
    </div>
  </div>
  <div class="row cpyryt">
      <div class="col-lg-10 col-md-12">
         <p>Copyright © 2021 <b>Reckon Techno Automation</b></p>
         <p>Terms of Use | Privacy Policy</p>
      </div>
  </div>
</div>
