<div class="container-fluid ftr-bottom">
  <div class="row text-section2">
    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
      <p class="heading">About Reckon</p>
      <p class="normal">Reckon Sales Pvt. Ltd. is a solution provider for the application based software 
        founded by an executive team of industry veterans that bring broad experience in technology...</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
      <p class="heading">Address</p>
      <address class="normal">Radix Chambers Shop No. 5
        Bal Garden Srinagar Kashmir
        190010</address>
      <p class="normal"><i class="fa fa-phone"></i>Phone No. +91-194-2473292</p>
      <p class="normal"><i class="fa fa-envelope-o"></i>admin@reckonsales.com</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 social-icons">
      <a href="#"><p class="heading">Quick Contact</p></a>
      <a href="#"><p>Gallery</p></a>
      <a href="#"><p>Career</p></a>
      <a href="#"><p>Contact Us</p></a>
      <a href="#"><img src="assets\images\fb.png" alt="fb"></a>
      <a href="#"><img src="assets\images\twitter.png" alt="twitter"></a>
      <a href="#"><img src="assets\images\linkedIn.png" alt="linkedin"></a>
      <a href="#"><img src="assets\images\youtube.png" alt="youtube"></a>
    </div>
  </div>
</div>
<div class="container-fluid ftr-bottom">
  <div class="row cpyryt">
      <div class="col-lg-12 col-md-12">   
        <p>Copyright © 2021 Reckon Sales Pvt Ltd. All Rights Reserved.</p>
         <p>Privacy Policy | Terms of Use</p>
      </div>
  </div>
</div>
