<div class="container-fluid about-us">
    <div class="row banner">
        <div class="col-lg-12 col-md-12 padding-0">
            <img src="https://dummyimage.com/1950x420/#008000/fff" alt="banner" class="img-fluid">
        </div>
    </div>   
</div>  
<div class="container about-us">
    <h1>about us</h1>
    <div class="row text">
       <div class="col-lg-6 col-md-6">
        <h2>Personalized Software</h2>
        <p>At our company, we turn the digital dreams of our clients into a reality. 
            We work closely with our users throughout development to ensure that we are 
            still aligned with the end-goal. We are committed to producing exceptional 
            software for each of our clients.
        </p>
       </div>
       <div class="col-lg-6 col-md-6">
        <h2>Quality Guaranteed</h2>
        <p>The world of technology can be fast-paced and scary. That's why our goal is 
            to provide a high-quality product that aligns with your company's needs. No 
            matter the budget, we pride ourselves on providing professional customer service. 
            We guarantee you will be satisfied with our work. 
        </p>
       </div>
    </div>
</div>