<div class="container-fluid help-section">
    <div class="row">
        <div class="col-lg-10 col-md-10">
            <h2>May I Help you?</h2>
            <form  [formGroup]="enquiryForm">
                <div class="form-row">
                  <div class="form-group col-md-6 col-sm-6">
                    <label for="first-name">First Name</label>
                    <input type="text"  formControlName="FirstName" placeholder="First Name" class="form-control" required>
                    <div *ngIf="(f.FirstName.invalid && f.FirstName.touched) || f.FirstName.dirty">
                      <small *ngIf="f.FirstName.errors?.required" class="text-danger">FirstName is required</small>
                      <!--question mark(?) is a safe navigation operator-->
                     
                     
                    </div>
                  </div>
                  <div class="form-group col-md-6 col-sm-6">
                    <label for="last-name">Last Name</label>
                    <input type="text" formControlName="LastName" placeholder="Last Name" class="form-control" required>
                  </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 col-sm-6">
                      <label for="email">Email</label>
                      <input type="email" formControlName="EmailAddress" placeholder="Email" class="form-control" required>
                      <div *ngIf="(f.EmailAddress.invalid && f.EmailAddress.touched) || f.EmailAddress.dirty">
                        <small *ngIf="f.EmailAddress.errors?.required" class="text-danger">FirstName is required</small>
                        <!--question mark(?) is a safe navigation operator-->
                        <small *ngIf="f.EmailAddress.errors?.pattern" class="text-danger"></small>
                       
                      </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                      <label for="mobile-number">Mobile Number</label>
                      <input type="text" maxlength="12" formControlName="MobileNumber" placeholder="Contact" class="form-control"  required>
                      
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="address">Description</label>
                        <input type="text" formControlName="Description" class="form-control" required>
                    </div>
                </div>
                <button type="submit" [disabled]="!enquiryForm.valid" class="btn" (click)="onSubmit()">Submit</button>
              </form>
        </div>
    </div>
</div>
