<div class="container-fluid help-section">
    <div class="row">
        <div class="col-lg-10 col-md-10">
            <h2>May I Help you?</h2>
            <form  [formGroup]="HelpForm" (ngSubmit)="onSubmit()" >
                <div class="form-row">
                  <div class="form-group col-md-6 col-sm-6">
                    <label for="first-name">First Name</label>
                    <input type="text"  formControlName="firstName" class="form-control" required>
                  </div>
                  <div class="form-group col-md-6 col-sm-6">
                    <label for="last-name">Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control" required>
                  </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 col-sm-6">
                      <label for="email">Email</label>
                      <input type="email" formControlName="emailAddress" class="form-control" required>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                      <label for="mobile-number">Mobile Number</label>
                      <input type="number" formControlName="MobileNumber" class="form-control"  required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="address">Description</label>
                        <input type="text" formControlName="description" class="form-control" required>
                    </div>
                </div>
                <button type="submit" [disabled]="!HelpForm.valid" class="btn">Submit</button>
              </form>
        </div>
    </div>
</div>
