/* You can add global styles to this file, and also import other style files */
/** HEADER **/
.padding-0 {
    padding: 0px;
}
.topbar .bckgrnd{
   background-color: black;
   height: auto;
   padding: 5px;
}
.topbar .bckgrnd .col-lg-11{
   margin:auto;
   display: flex;
}
.topbar .top-info-left,
.topbar .top-info-right{
  color:white;
}
.topbar .top-info-left span{
   width: 5%;
   text-align: center;
}
/*---NAVBAR---*/
.second-nav{
  border-bottom: 1px solid #DBDCDE;
}
.second-nav .dsktp_logo{
  text-align: center;
}
.second-nav #nav{
  justify-content: center;
  position: relative;
  z-index: 2;
  margin-left: auto;
}
.mynavbar .navbar-toggler{
  color:#cdc9c9;
  border-color: transparent;
}
 /*menubar*/
#nav 
  {
    list-style: none inside;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  #nav li {
    display: inline-block;
    position: relative;
  }
  #nav li .nav-link,
  #nav li .home-icon {
    display: block;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    font-family: inherit;
    font-weight: normal;
    cursor: pointer;
    color: black;
  }
  #nav .home {
    margin-top: auto;
    margin-bottom: auto;
  }
  /* smaller font size for sub menu items */
  #nav a:hover {
    color:#cdc9c9; 
  }
  /* highlights current hovered list item and the parent list items when hovering over sub menues */
  #nav ul {
    position: absolute;
    padding: 0;
    left: 0;
    line-height: 35px;
    display: none;
    max-width: none;
    border: 0;
    background: #fff;
    border-radius: 0;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 10%);
  }
  #nav li:hover ul ul {
    display: none;
  }
  /* hides sub-sublists */
  #nav li:hover ul {
    display: block;
  }
  /* shows sublist on hover */
  #nav li li:hover ul {
    display: block;
    /* shows sub-sublist on hover */
    margin-left: 90%;
    /* this should be the same width as the parent list item */
    margin-top: -35px;
    /* aligns top of sub menu with top of list item */
  }
  .second-nav .nav-link i{
    color:black;
    margin-right: 2px;
  }
  /**button-container**/
  .second-nav .button-container{
    text-align: center;
  }
  .second-nav .button-container button{
    width: 70%;
    padding: 5px;
    border-radius: 23px;
    text-transform: uppercase;
    background-color:green;
    border:none;
    color:white;
    box-shadow: 0 10px 30px -8px rgb(0 0 0 / 16%);
    margin-bottom: 5px;
    font-size: 13px;
  }
  .second-nav .button-container .btn:focus,
  .second-nav .button-container .btn:active
 {
    background-color:green;
    border-color:green;
    outline: none;
    border:none;
 }
 .mynavbar .button-container button{
    width: auto;
    font-size: 13px;
 }
 /*BANNER*/
.top-banner .d-md-block,
.top-banner .d-md-none{
  width: 100%;
}
.top-banner img{
  width: 100%;
}
/*first-section*/
.first-section h2,
.second-section h2,
.third-section h2,
.fifth-section h2{
  text-transform: capitalize;
  font-weight: 500;
  text-align: center;
  margin-bottom: 35px;
}
.first-section  > .row,
.second-section > .row,
.third-section  > .row,
.fifth-section > .row{
  padding: 40px 0px;
  text-align: center;
  margin: auto;
}
.first-section .box-wrapper p{
  margin-top: 10px;
}
/*SECOND-SECTION*/
.second-section{
  background-color: #005da4;
}
.second-section h2{
  color: white;
}
.second-section .box-wrapper h3{
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  color: white;
}
.second-section .box-wrapper > p{
  max-width: 80%;
  margin: auto;
  color: white;
}
.second-section .row button{
  margin: auto;
}
/*THIRD SECTION*/
.third-section{
  background-color: #fcfcfc;
}
.third-section .box-wrapper{
  box-shadow: 9px 11px 14px 0 rgb(0 0 0 / 10%);
  padding: 30px;
  background-color: #fff;
}
.third-section .box-wrapper img{
  margin-bottom: 15px;
}
.third-section .testimonial_slider{
  margin: auto;
}
.third-section .testimonial_slider .stars{
  list-style: none;
}
.third-section .testimonial_slider .stars li{
  display: inline-block;
  margin: 2px;
}
.third-section .testimonial_slider i{
  color:#fec42d;
}
/*FOURTH-SECTION*/
.fourth-section .row > div{
  margin: 50px 0px;
  text-align: center;
}
.fourth-section .row h2{
  color:lightgrey;
}
.fourth-section .row button,
.second-section .row button
{
  padding: 0.5em 4.2em;
  border-radius: 23px;
  margin-top: 25px;
  border: none;
  background-color: green;
  color:white;
  box-shadow: 0 10px 30px -8px rgb(0 0 0 / 16%);
}
/*FIFTH SECTION*/
.trending_container{
  margin-top: 30px;
}
.trending_row{
  margin-top:30px;
}
.trending_container .trending_row
 {
  margin-top: 0px;
 }
.trending_slider{
  width:90%;
  margin:0px auto;
}
.trending_slider_mobile{
  width:90%;
  margin:0px auto;
}
.trending_slider .slick-slide,
.trending_slider_mobile .slick-slide{
  margin:10px;
}
.slick-slide img{
  width:100% !important;
}
.slick-next:before, .slick-prev:before{
  color: black !important;
}
.trending_row .slick-prev
{
  left: -15px;
  top: 50%;
}
.trending_row .slick-next
{
  right: -15px;
  top: 50%;
}
.trending_slider a:focus,
.trending_slider_mobile a:active{
  outline: none!important;
}
/*FOOTER*/
.ftr-bottom .cpyryt{
  background-color: black;
  border-top: 1px solid lightgrey;
  padding: 15px 0;
}
.ftr-bottom .cpyryt div{
  margin: auto;
}
.ftr-bottom .cpyryt div p{
  color: white;
}
.ftr-bottom .cpyryt div p:nth-of-type(2){
  margin-left: auto;
}
.ftr-bottom{
  background-color: #303030;
}
.ftr-bottom .text-section2{
  margin: auto;
}
.ftr-bottom .text-section2 > div{
  text-align: left;
}
.ftr-bottom .text-section2 .heading{
  text-transform: uppercase;
  font-weight: 500;
  color: white;
}
.ftr-bottom .text-section2 .normal,
.social-icons a p{
  font-weight: normal;
  color: white;
  margin-bottom: 5px;
  font-size: 14px;
}
.ftr-bottom .text-section2 a{
   text-decoration: none;
}
.ftr-bottom .text-section2 p i{
  margin-right: 5px;
}
.ftr-bottom .social-icons a:hover {
  background: #0499da;
}
.ftr-bottom .social-icons .icons{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 0px;
  display: inline-block;
  text-align: center;
  margin: 0px 2px;
}
.ftr-bottom .social-icons .icons i{
  color: #fff;
  font-size: 14px;
}
.ftr-bottom .social-icons img{
   margin: 5px 5px 0px;
}
.sticky-btn a{
  top:200px;
  position:fixed;
  right:-97px;
  z-index: 1000;
  transform: rotate(-90deg);
  padding:10px 20px 35px;
  height: 0px;
  background-color:green;
  color:#fff;
}
.sticky-btn a:hover{
  text-decoration: none;
  color:#fff;
}
/*MEDIA QUERIES*/
/***MEDIA QUERIES***/
@media(min-width:1099px){
  #nav li .nav-link{
    width:110px;
  }
  #nav li .nav-link{
    padding: 0;
  }
}
@media(min-width: 1025px){
  .second-nav .dsktp_logo img{
    max-width: 60%;
 }
 .second-nav .button-container{
    justify-content: center;
 }
}
@media(max-width: 1024px){
  .second-nav .dsktp_logo img{
    max-width: 65%;
  }
}
@media(min-width:992px){
  .top-info-left{
    width: 30%;
  }
  .topbar .top-info-right{
    width: 70%;
  }
  #nav li .nav-link{
    font-size: 16px;
  }
}
@media(max-width: 991px){
  .navbar-collapse > .left > li{
    width: 10%;
  }
  .mynavbar .second-nav{
    padding-top: 0px;
    padding-bottom: 0px;
 }
 #nav li .nav-link{
  font-size: 14px;
}
 .ftr-bottom .text-section2 p i{
    font-size: 10px;
 }
}
@media(max-width: 991px) and (min-width:768px){
  .top-info-left{
    width: 35%;
  }
  .topbar .top-info-right{
    width: 65%;
  }
}
@media (min-width: 768px){
  .mynavbar {
    display: none;
  }  
  .mynavbar .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .second-section{
    margin-top: 20px;
  }
  .second-section .box-wrapper{
    margin: 40px 0px;
  }
  .ftr-bottom .text-section2 > div
  {
    border-right: 1px solid #505050;
  }
  .ftr-bottom .text-section2 > .social-icons
  {
    border-right: none;
  }
  .ftr-bottom .text-section2
  {
    padding: 30px 0;
  }
  .ftr-bottom .social-icons img{
    width:10%;
  }
  .ftr-bottom .cpyryt div{
    display: flex;
  }
}
@media (max-width: 767px){
  .topbar .bckgrnd .col-lg-11{
    display: initial;
    text-align: center;
  }
  .top-info-left, .top-info-right{
    display: initial;
    width: initial;
  }
  .mynavbar{
    flex-wrap: initial;
  }
  .mynavbar .mob-logo{
    text-align: center;
    margin:auto;
  }
  .mob-nav{
    margin-top: 10px;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color:black;
    display: block;
    transition: 0.3s;
    font-family: 'Dosis', sans-serif;
  }
  .sidenav .closebtn {
    position: absolute;
    top: -5px;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
  }
  .sidenav ul li ul li a{
    color:lightgrey;
  }
  .sidenav .dropdown-menu{
    border: none;
  }
  /*.mob-nav .dropdown-menu{
    position: absolute;
  }*/
  .second-nav{
    display: none;
   }
  .first-section .box-container{
     margin-bottom: 10px;
  }
  .second-section{
    margin-top: 0px;
  }
  .second-section .box-wrapper{
    margin: 25px 0px;
  }
  .ftr-bottom .text-section2 {
    padding: 20px 0 10px;
  }
  .ftr-bottom .text-section2 .heading{
    margin-bottom: 10px;
  }
  .ftr-bottom .text-section2 > div{
    padding-bottom: 15px;
  }
  .ftr-bottom .social-icons img{
    width:12%;
  }
  .ftr-bottom .cpyryt div{
    display: initial;
    text-align: center;
  }
}
@media(min-width:576px){
  .mynavbar .mob-logo img{
    max-width: 15%;
  }
}
@media(max-width:575px){
  .mynavbar .mob-logo img{
    max-width: 19%;
  }
  .ftr-bottom .text-section2{
    margin-top: 0px;
  }
  .ftr-bottom .text-section2 .heading{
    margin-bottom:5px;
  }
  .ftr-bottom .text-section2 > div{
    margin-bottom: 25px;
  }
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 14px;}
}